<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Document</title>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <div class="flex justify-between items-center mb-5">

            <h1 class="text-3xl tracking-tighter ml-5 mb-3">Upload Profile Picture</h1>
            <a class="bg-blue-500 rounded-md px-5 py-2 text-sm mb-5 inline-block mr-5 " href="/login">login</a>
        </div>
        <form autocomplete="off" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <input class="px-5 py-2 rounded-md  bg-blue-500 " type="submit" value="Upload file">
        </form>
    </div>
</body>
</html>