<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>

<body>
    <div class="w-full h-full bg-zinc-900  text-white p-10">
        <div class="nav  mb-5 ml-5">
            <a class="text-blue-500" href="/read ">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter ml-5 mb-3">Create User</h1>
        <form    action="/create" method="post">
            <input type="text" class="px-5 py-3   border-zinc-800 rounded-lg  outline-none border-3 m-5" placeholder="name" name="name">
            <input type="text" class="px-5 py-3   border-zinc-800 rounded-lg outline-none border-3 m-5" placeholder="email" name="email">
            <input type="text" class="px-5 py-3  border-zinc-800 rounded-lg outline-none border-3 m-5" placeholder="image url" name="image">
            <input type="submit" class="px-5 py-2 bg-blue-500 rounded-lg ml-5"   value="create user">
        </form>

    </div>
</body>

</html>